/* Header.css */

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #000;
  }
  